body 
{
   
   background-image: linear-gradient(rgb(0, 0, 0), rgb(128, 128, 128));
   margin: 0;
}
p1
{
  color: #929292;
}
h1
{
   color: #cecece;
}

table
{
   
   border:1px solid rgb(0, 0, 0);
}
th
{
   border:1px solid rgb(116, 116, 116);
   width:655px
}
table, th, td 
{
   
  border:1px solid rgb(116, 116, 116);
  width:655px
}
th:hover, td:hover
{
  border:1px solid rgb(0, 0, 0);
  width:655px
}



.Column 
{
   display: flex;
   flex-wrap: wrap;
   background-image: linear-gradient(rgb(104, 104, 104), rgb(36, 36, 36));
   width: 95%;
 }
 
 .Row 
 {
   flex: 25%;
   height:600px;
   width:20%;
   border: 2px solid rgb(255, 255, 255);
   overflow:auto; 
 }
 
 
 img 
 {
   vertical-align: middle;
   width: 90%; height: auto; 
   filter: drop-shadow(10px 16px 20px rgb(12, 12, 12));
    
   border: 1px solid rgb(31, 31, 31);
   border-radius: 4px;
   padding: 10px;
   
   
 }

 img:hover 
 {
   box-shadow: 0 0 2px 1px rgba(23, 31, 34, 0.5);
   filter: drop-shadow(10px 16px 50px rgb(0, 0, 0));
   width: 93%; height: auto; 
   padding: 0px;
 }

button
{
    
    position: relative;
    top: 0px;
    left: 0px;
    align-items: center;
    background-origin: padding-box;
    background-color: rgb(167, 82, 82);
    width: 30px;
    height: 10px;
    border-radius: 10px;
    border-color: black;
    transition-duration: 500ms;
    color: #141414a9;

}
button:hover 
{
   
   background-color: #7c6c6c;
   color: rgb(190, 171, 176);
   border-radius: 1px;
   transition-duration: 100ms;
}
.button2
{
    
    position: relative;
    top: 0px;
    left: 0px;
    align-items: center;
    background-origin: padding-box;
    background-color: rgb(167, 82, 82);
    width: 30px;
    height: 10px;
    border-radius: 10px;
    border-color: black;
    transition-duration: 500ms;
    color: #ffffff;

}
.button2:hover 
{
   
   background-color: #7c6c6c;
   color: rgb(190, 171, 176);
   border-radius: 1px;
   transition-duration: 100ms;
}
/* width */
::-webkit-scrollbar 
{
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track 
 {
   background: #2e2d2d;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb 
 {
   border-radius: 30px;
   height: 1px;
   background: rgb(231, 231, 231);
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover 
 {
   box-shadow: inset 0 0 5px grey;
   background: rgb(180, 180, 180);
 }